body {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-madera-natural_24837-269.jpg?w=1380&t=st=1684679478~exp=1684680078~hmac=734266a24e9817fd31bbc7da0ec7e472fbe37ebd8ce54fe14b0f845b43c12a93');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1, h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0);
}

th {
  background-color: rgb(0, 134, 18);
  font-weight: bold;
}

tr:first-child th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, .1);
}

.no-border {
  border: none;
}